body {
    margin: 0px;
    padding: 0px;
    color: #000000;
}
#full_page {
    /* background-color: blue; */
    height: auto;
    border: 1px solid #000;
    
    #top {
        border: 1px solid blue;
        height: 500px;
        padding: 0px;
        margin: 0px;

        .abstract {
           width: 100%;
           padding: 0px;
           margin: 0px;
            .left_nav, .right_abstract {
                border: 1px solid black;
                height: 500px;
                padding: 0px;
                margin: 0px;
            }
            .left_nav {
                
                #top_nav {
                    height: 70px;
                    border: 1px solid black;
                }
            }
            
            .right_abstract {
                img {
                    // width: 110%;
                    // height: auto
                }
            }
        }
        
    }
}