#header, #main, #footer {
    border: 1px solid black;
  
}
nav {
    .link { 
        .list-inline {
            width: auto;
            // border: 1px solid blue;
            justify-content: space-around;
            align-items: center;
            padding: 0px 10px;
            display: flex;
            .nav-item {
                align-content: space-between;  
                padding: 0px 20px;
            }
        }
    }
    .links {
        // border: 1px solid red;
        .nav-item {
            border: 1px solid blue;
            background: white;
            border-top-right-radius: 17px;
            border-bottom-right-radius: 17px;
        }
    }
}
    